spring:
  application:
  name: JoinFormula
  datasource:
    url: jdbc:h2:file:./my_database
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    org.hibernate:
      orm.jdbc.bind: trace
      SQL: debug

